
.btn{
  display:block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  cursor:pointer;
}

.round-btn{
  width:10vw;
	height:3vw;
	border-radius:1.67vw;
	font-size:12px;
  font-weight:bold;
	line-height: 15px;
  background-color: $primary-color;
  color:$light-gray;
  text-align:center;
  vertical-align: center;
  text-transform: uppercase;
  padding-top:1vw;
  margin-left:10px;
  &:hover{
    background-color:$sec-color;
  }
}

.icon-info{
  background-image: url('../img/info.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display:block;
  width:40px;
  height:40px;
  border:2px solid $primary-color;
  border-radius: 50%;
}
.icon-king-joy{
  display:block;
  width:8vh;
  height:8vh;
  background-image: url('../img/king_joy.png');
  background-repeat:no-repeat;
  background-size: cover;
  margin:auto;
}
.icon-king-angry{
  display:block;
  width:8vh;
  height:8vh;
  background-image: url('../img/king_angry.png');
  background-repeat:no-repeat;
  background-size: cover;
  margin:auto;
}
.close-btn{
  width:5vh;
  height:5vh;
  box-sizing: border-box;
  line-height:5vh;
  position: relative;
  display:inline-block;
&:before, &:after {
    width:5vh;
    height: 0.2vh;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    background-color: $primary-color;
    transition: all 0.2s ease-out;
  }  
  &:after {
    transform: rotate(45deg);
  }
    &:hover {
      &:before, &:after {
        transform: rotate(0deg);
      }
    }

}