
.btn{
  display:block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  cursor:pointer;
}

.round-btn{
  width:10vw;
	height:3.33vw;
	border-radius:1.67vw;
	font-size:12px;
  font-weight:bold;
	line-height: 15px;
  background-color: $primary-color;
  color:$light-gray;
  text-align:center;
  vertical-align: center;
  text-transform: uppercase;
  padding-top:1vw;
  margin-left:10px;
  &:hover{
    background-color:$sec-color;
  }
}

.icon-info{
  background-image: url('../img/info.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display:block;
  width:40px;
  height:40px;
  border:2px solid $primary-color;
  border-radius: 50%;
}