@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
html {
	line-height: 1.2;
	-webkit-text-size-adjust: 100%;
}

body, html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

html {
	overflow-y: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
}

p, a {
	font-size: 12px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, select {
	-webkit-appearance: none;
}

textarea:focus, input:focus, select:focus {
	outline: none;
	-webkit-appearance: none;
}

.btn {
	display: block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	text-decoration: none;
	cursor: pointer;
}

.round-btn {
	width: 10vw;
	height: 3vw;
	border-radius: 1.67vw;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	background-color: #222222;
	color: #FCFCFC;
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	padding-top: 1vw;
	margin-left: 10px;
}

.round-btn:hover {
	background-color: #FFB53E;
}

.disable {
	cursor: default;
	background-color: rgba(34, 34, 34, 0.7);
}

.disable:hover {
	background-color: rgba(34, 34, 34, 0.7);
}

.icon-info {
	background-image: url("../img/info.svg");
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #222222;
	border-radius: 50%;
}

.icon-king-joy {
	display: block;
	width: 8vh;
	height: 8vh;
	background-image: url("../img/king_joy.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}

.icon-king-angry {
	display: block;
	width: 8vh;
	height: 8vh;
	background-image: url("../img/king_angry.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}

.close-btn {
	width: 5vh;
	height: 5vh;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 5vh;
	position: relative;
	display: inline-block;
}

.close-btn:before, .close-btn:after {
	width: 5vh;
	height: 0.2vh;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #222222;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.close-btn:after {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.close-btn:hover:before, .close-btn:hover:after {
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #E2E2E2;
}

.base {
	width: 80vw;
	height: 100vh;
	margin-left: 10vw;
	margin-right: 10vw;
	position: relative;
}

li.cell, .card {
	width: 8vw;
	height: 12.21053vw;
	border-radius: 5px;
}

li.cell.drop-target-focus, .card.drop-target-focus {
	border: 2px solid rgba(255, 181, 62, 0.6);
}

.top-container {
	width: 100%;
	padding-top: 30px;
}

.top-container ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.top-container ul li {
	width: 8vw;
	height: 12.21053vw;
}

.top-container ul li.cell {
	display: block;
	border: 2px solid rgba(252, 252, 252, 0.6);
}

.top-container ul li.cell.drop-target-focus {
	border: 2px solid rgba(255, 181, 62, 0.6);
}

.top-container ul li.home-cell {
	border: none;
	background-color: #FCFCFC;
	background-repeat: no-repeat;
	background-size: 3vw;
	background-position: center center;
}

.top-container ul li#S-home {
	background-image: url("../img/S.png");
}

.top-container ul li#H-home {
	background-image: url("../img/H.png");
}

.top-container ul li#D-home {
	background-image: url("../img/D.png");
}

.top-container ul li#C-home {
	background-image: url("../img/C.png");
}

.top-container ul li.logo {
	background-image: url("../img/king_happy.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center 25%;
	text-align: center;
}

.top-container ul li.logo p {
	text-transform: uppercase;
	margin-top: 90%;
}

.card {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.hint {
	border: 1px solid #FFB53E;
}

.hint .card {
	border-bottom: 1px solid #FFB53E;
	border-right: 1px solid #FFB53E;
}

.hint .hint-end {
	border-left: 1px solid #FFB53E;
}

main {
	width: 100%;
	margin-top: 20px;
}

main ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

main .card {
	position: absolute;
	-webkit-transition: 0.5s linear .5s;
	transition: 0.5s linear .5s;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

main .card.show {
	-webkit-transform: translateY(2.07579vw);
	        transform: translateY(2.07579vw);
}

main .card.autohome {
	border: 2px solid rgba(255, 181, 62, 0.6);
}

main .cell > .card.show {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

nav .left-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

nav .left-panel p {
	margin-left: 20px;
}

nav .right-panel ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.mask {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: rgba(34, 34, 34, 0);
	-webkit-transition: all 0.2s ease-out 0.4s;
	transition: all 0.2s ease-out 0.4s;
	display: block;
}

.mask.show {
	background-color: rgba(34, 34, 34, 0.7);
}

.mask.hide {
	display: none;
}

.mask .info-window {
	width: 50vw;
	height: 50vh;
	position: absolute;
	top: 25vh;
	left: 25vw;
	background-color: #FCFCFC;
	border-radius: 10px;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	display: block;
}

.mask .info-window.show {
	-webkit-transform: scaleY(1);
	        transform: scaleY(1);
}

.mask .info-window.hide {
	display: none;
}

.mask .info-window .close-btn {
	margin-right: 3vh;
	margin-top: 3vh;
	float: right;
}

.mask .info-window .close-btn:after {
	clear: both;
}

.mask .info-window .pan {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	margin-left: 25%;
	text-align: center;
	display: none;
}

.mask .info-window .pan.show {
	display: block;
}

.mask .info-window .pan h2 {
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	color: #222222;
	text-transform: uppercase;
}

.mask .info-window .pan p {
	padding: 10px;
}

.mask .info-window .pan ul {
	margin-top: 5vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*# sourceMappingURL=style.css.map */
